/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
}
/* Body styles */
body {
    background-color: #424242;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}
.all-box {
    display: flex;
    width: 100%;
    height: 95%;
}
.box {
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    text-align: center;
    width: 15%;
    height: 90%;
    background-color: #6b6b6b;
    border-radius: 15px;
}
/* Button Styles */
.button-valider {
    background-color: #00be00;
    color: rgb(0, 0, 0);  
    text-align: right;  
    text-decoration: none; 
    width: 50%;   
    text-align: center;   
    height: 100%;    
}
/* Text Input Styles */
.text-place{
    width: 200px;
    text-overflow: ellipsis;
    text-align: center;
}
/* Bottom Section Styles */
.bas {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #6b6b6b;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: block;
    height: 4%;
    border-radius: 15px;
}
/* Home Link Styles */
.home {
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    display: block;
    border-radius: 15px;
}
/* My Link Styles */
.my-link {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: green;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
}

.my-link a {
    color: green;
    text-decoration: none;
}

.my-link a:hover {
    text-decoration: underline;
}

.center {
    width: 50px; 
    text-overflow: ellipsis; 
    text-align: center;
}