/* Body styles */
body {
    background-color: #424242;    /* Background color */
    font-family: 'Roboto', sans-serif;    /* Font family */
    margin: 0;    /* Margin reset */
    padding: 0;   /* Padding reset */
    justify-content: center;     /* Center content horizontally */
    align-items: center;       /* Center content vertically */
    height: 100vh;     /* Full viewport height */
}

/* Heading styles */
h1 {
    color: white;   /* Text color */
    font-size: 400%;    /* Font size */
    text-align: center;   /* Text alignment */
    margin-top: 10%;     /* Margin from the top */
}

/* Container styles */
.container {
    max-width: 20%;     /* Maximum width */
    background-color: black;     /* Background color */
    padding: 2%;     /* Padding */
    margin-left: auto;    /* Auto left margin */
    margin-right: auto;   /* Auto right margin */
    border-radius: 25px;    /* Border radius */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);    /* Box shadow */
    color: white;    /* Text color */
    text-align: center;    /* Text alignment */
}

/* Input field styles */
input[type="text"],
input[type="password"] {
    width: 100%;     /* Full width */
    padding: 12px 20px;    /* Padding */
    margin: 8px 0;    /* Margin */
    display: inline-block;      /* Display inline block */
    border: 1px solid #ccc;    /* Border */
    box-sizing: border-box;     /* Box sizing */
    border-radius: 25px;    /* Border radius */
}

/* Button styles */
.button-connection {
    background-color: #ffffff;    /* Background color */
    color: rgb(0, 0, 0);     /* Text color */
    text-decoration: none;  
    width: 80%;  
    text-align: center;  
    height: 10%;     
}

/* Connection section styles */
.connection {
    margin-top: 5%;  
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;     
}

::-webkit-scrollbar-track {
    background-color: black;   
}

::-webkit-scrollbar-thumb {
    background-color: #424242;    
}
