/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
}

/* Body styles */
body {
    background-color: #424242;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}
button {
    cursor: pointer;
    margin-top: 3%;
    border: 0;
}

button:hover {
    opacity: 0.8;
}

.container {
    background-color: rgb(173, 173, 173);
    padding: 2%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 2%;
    min-height: 70%;
    color: white;
    position: relative;
    box-sizing: border-box;
}

.back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4CAF50; /* Vert */
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.logs-container {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #333;
    color: green;
    width: 300px; /* ajustez la largeur selon vos besoins */
    padding: 20px;
    border-radius: 8px;
}

.logs-container a {
    color: green;
    text-decoration: none;
}

.logs-container a:hover {
    text-decoration: underline;
}