/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
}

/* Body styles */
body {
    background-color: #424242;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

/* Container for top section */
.haut {
    display: flex;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* Child elements within .haut */
.child {
    display: flex;      /* Use flex to align the elements side by side */
    padding: 10px;
}

.childmid {
    flex: 1;
    padding: 10px;
}

/* Filter form styles */
.filtre form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    width: 100%;
    color: rgb(0, 0, 0);
    height: 150px;
    background-color: #6b6b6b;
    padding: 15px;
    box-sizing: border-box;
}

/* Dropdown styles */
.filtre form .dropdowns{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.filtre .dropdown {
    margin-right: 30px;
}

.filtre .dropdown select {
    margin-right: 30px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.filtre .dropdown {
    margin-right: 30px;
}

/* Input field styles */
.filtre input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-sizing: border-box;
}

.filtre .dropdown select {
    width: 100%;
}

.filtre label {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: left;
    display: block;
    font-weight: bold;
    font-size: 16px;
}

/* Button styles */
.filtre button {
    color: rgb(0, 0, 0);
    display: block;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
    width: 40%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #ccc;
    font-weight: bold;
}

/* Styles for search section */
.rechercher {
    margin: auto;
    margin-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #6b6b6b;
}

/* Styles for input fields */
input[type="text"] {
    width: 50%;
    padding: 12px 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 25px;
}

/* General button styles */
button {
    cursor: pointer;
    margin-top: 3%;
    border: 0;
}

button:hover {
    opacity: 0.8;
}

/* Heading styles */
h1 {
    text-align: center;
}

/* Styles for content1 section */
.content1 {
    margin: auto;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    background-color: #6b6b6b;
}

/* Styles for button-bp */
.button-bp {
    margin-top: 0%;
    background-color: #6b6b6b;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
}

/* Styles for admin section */
.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
    flex: 1;
    padding-right: 2px;
}

/* Styles for deconnexiondiv section */
.deconnexiondiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 48%;
    height: 100%;
}

/* Styles for deconnexion section */
.deconnexion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
    flex: 1;
    padding-left: 2px;
}

/* Styles for button-admin */
.button-admin {
    margin-top: 0%;
    background-color: #6b6b6b;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    padding-top: 1%;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;        /* The buttons take up the entire width of their parent container */
    height: 100%;        /* The buttons take up the entire height of their parent container */

}

/* Styles for button-deconnexion */
.button-deconnexion {
    margin-top: 0%;
    background-color: #6b6b6b;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    padding-top: 1%;
    font-size: 80%;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%;         
    height: 100%;        
}

/* Styles for texte-bp */
.texte-bp {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

/* Styles for connection section */
.connection {
    margin-top: 5%;
}

/* Container styles */
.container {
    background-color: rgb(173, 173, 173);
    padding: 2%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-top: 2%;
    min-height: 70%;
    color: white;
    position: relative;
    box-sizing: border-box;
}

/* Styles for valider section */
.valider {
    display: flex;
    padding: 10px;
    flex-direction: row-reverse; /* Espacement entre les boutons et le bord du conteneur */
}

.button-valider {
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-left: 10px;
    background-color: #4CAF50;
}
/* Styles for button-filtre */
.button-filtre {
    background-color: #6b6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Styles for dropdown-content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Dropdown select styles */
.dropdown-content select {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

/* Dropdown hover effect */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Popup styles */
.popup {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    text-align: center;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Show class for popup */
.show{
    display: flex;
}

/* Close button styles */
.close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* Styles for bonne-pratique section */
.bonne-pratique {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #6b6b6b;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

}

/* Styles for info-container within bonne-pratique */
.bonne-pratique .info-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 1%;
}

/* Styles for checkbox within info-container */
.bonne-pratique .info-container .checkbox {
    display: flex;
    align-items: center;
}

/* Styles for action within info-container */
.bonne-pratique .info-container .action {
    display: flex;
    align-items: center;
}

.bonne-pratique .info-container button {
    margin-top: 0;
    margin-right: 10px;
}

/* Button styles within bonne-pratique */
.bonne-pratique button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}