::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #424242;
}

body {
    background-color: #424242;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    max-width: 100%;
}

.haut {
    display: flex;
    width: 100%;
    height: 17%;
}

.child {
    flex: 1;
    display: flex;/* Utilisez flex pour aligner les éléments côte à côte */
    padding: 10px;
}

.childmid {
    flex: 1;
    padding: 10px;
}

.filtre {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
}

.button-filtre {
    margin-top: 0%;
    background-color: #6b6b6b;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
    flex: 1;
}

.rechercher {
    margin: auto;
    margin-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    color: white;
    text-align: center;
    width: 100%;
    background-color: #6b6b6b;
}

input[type="text"] {
    width: 50%;
    padding: 12px 20px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 25px;
}

button {
    width: 20%;
    cursor: pointer;
    margin-top: 3%;
    border: 0;
}

button:hover {
    opacity: 0.8;
}

.content1 {
    margin: auto;
    margin-top: 1%;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
    align-items: center;
    color: rgb(0, 0, 0);
    text-align: center;
    width: 100%;
    background-color: #6b6b6b;
}

.button-bp {
    margin-top: 0%;
    background-color: #6b6b6b;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    padding-top: 1%;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
}

.admin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
    width: 48%;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
    flex: 1;
    padding-right: 2px;
}

.deconnexiondiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 48%;
    height: 100%;
}

.deconnexion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    text-align: center;
    color: rgb(0, 0, 0);
    height: 100%;
    flex: 1;
    padding-left: 2px;
}

.button-admin {
    margin-top: 0%;
    background-color: #6b6b6b;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    padding-top: 1%;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%; /* Les boutons prennent toute la largeur de leur conteneur parent */
    height: 100%; /* Les boutons prennent toute la hauteur de leur conteneur parent */

}

.button-deconnexion {
    margin-top: 0%;
    background-color: #6b6b6b;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    padding-top: 1%;
    font-size: 80%;
    text-align: center;
    color: rgb(0, 0, 0);
    width: 100%; /* Les boutons prennent toute la largeur de leur conteneur parent */
    height: 100%; /* Les boutons prennent toute la hauteur de leur conteneur parent */
}

.texte-bp {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

.connection {
    margin-top: 5%;
}

.container {
    max-width: 90%;
    background-color: rgb(173, 173, 173);
    padding: auto;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    height: 70%;
    color: white;
    position: relative;
}

.valider {
    position: absolute;
    bottom: 2%;
    right: 2%;
    margin-bottom: 0%;
    width: 10%;
}

.button-valider {
    margin-bottom: 0%;
    background-color: #00be00;
    color: rgb(0, 0, 0);
    text-align: right;
    text-decoration: none;
    width: 100%;
    text-align: center;
    height: 100%;
}

.button-filtre {
    background-color: #6b6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content select {
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.popup{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    height: 80%;
    text-align: center;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show{
    display: flex;
}

.close-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bonne-pratique {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #6b6b6b;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

}

.bonne-pratique .info-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 1%;
}

.bonne-pratique button {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}